<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>---rotate 3d---</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="VUE1"  @mousedown="voidMouseDown" @mouseup="voidMouseUp" @mousemove="voidMouseMove">
        <div class="void">
            <div class="BIGCUBE"
                :style="{
                    transform:  'rotateX(' + cubeRotX + 'deg) rotateY(' + cubeRotY + 'deg) rotateZ(' + cubeRotZ + 'deg)',
                }">
                <div class="cube" v-for="(cube, i) in cubes"
                    :style="{
                        transform: 'translateX(' + cube.translates[0] + 'px) translateY(' + cube.translates[1] + 'px) translateZ(' + cube.translates[2] + 'px) rotate3d(' + cube.rotate3d.vector + ',' + cube.rotate3d.deg + 'deg)',
                        transformOrigin: cube.origins[0] + 'px ' + cube.origins[1] +'px ' + cube.origins[2] + 'px',
                        transition: cubeTransition + 's'
                    }">

                    <div class="side" v-for="(side, j) in sides"
                        :style="{
                            transform: 'translateX(' + side.tranX + 'px) translateY(' + side.tranY + 'px) translateZ(' + side.tranZ + 'px) rotateX(' + side.rotX + 'deg) rotateY(' + side.rotY + 'deg) rotateZ(' + side.rotZ + 'deg)',
                            background: (cube.colors[j] == '-') ? '#000000' : cube.colors[j]
                        }">
                        <!-- {{ j }} -->
                    </div>
                </div>

                <div class="cube__cover" v-for="(cover, k) in covers"
                    :style="{
                        transform: 'translateX(' + cover.tranX + 'px) translateY(' + cover.tranY + 'px) translateZ(' + cover.tranZ + 'px) rotateX(' + cover.rotX + 'deg) rotateY(' + cover.rotY + 'deg) rotateZ(' + cover.rotZ + 'deg)',
                    }">
                    {{ cover.name }}
                </div>

                
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>